* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

.myAppDemoWT {
  margin-right: 0.125rem;
}

.myCustomContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.myCustomButton {
  margin-right: 1rem;
  margin-left: 1rem;
}

.myCustomText {
  display: inline-block;
  font-weight: bold;
  position: relative;
  top: 0.8rem;
  color: #1a6a8a;
}
